<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/my_style.css">
    <meta charset="utf-8" />
    <title>2048 Score</title>
</head>
<body>
    <button onclick="document.location='/'"> Back </button>
    <br />
    {% if result %}
    <table>
        <tr>
            <th>Rank</th>
            <th>Nickname</th>
            <th>Score</th>
        </tr>
        {% for i in range(len) %}
        <tr>
            <td>{{i + 1}}</td>
            {% for j in result[i] %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There is no data...</p>
    {% endif %}
</body>
</html>